<footer class="container-fluid text-center pt-3">
    <div class="row justify-content-center">
        <div class="col">
            <ul class="list-unstyled list-inline">
                <a href="https://infosec.exchange/@TheBiggerGuy"><span class="fab fa-mastodon fa-3x px-2"></span></a>
                <a href="https://github.com/TheBiggerGuy"><span class="fab fa-github fa-3x px-2"></span></a>
                <a href="https://www.linkedin.com/in/Guy-Taylor"><span class="fab fa-linkedin fa-3x px-2"></span></a>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Copyright &copy; {{ .Site.Copyright }} {{ now.Format "2006" }}</p>
            <p>Icons from <a href="https://fontawesome.com/license">FontAwesome</a></p>
            {{ with .GitInfo }}<p class="text-monospace small"><a href="https://github.com/TheBiggerGuy/com.thebiggerguy.www/commit/{{ .Hash }}">{{ .Hash }}</a></p>{{ end }}
        </div>
    </div>
</footer>