{{ $hero_image := .Resources.GetMatch "index_hero.jpg" }}
{{ $hero_image_small := $hero_image.Resize "x500" }}

<div class="container-fluid px-0 mx-0 hero text-center" style="background-image: url('{{ $hero_image_small.Permalink }}'); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 500px;">
    <h1 class="">
        {{ if .Params.HeroTitle }}
            {{ safeHTML .Params.HeroTitle }}
        {{ else if .Title }}
            {{ safeHTML .Title }}
        {{ else }}
            {{ safeHTML .Site.Title }}
        {{ end }}</h1>
    <h2>
        {{ if .Description }}
            {{ .Description }}
        {{ else }}
            {{ .Site.Params.SiteDescription }}
        {{ end }}
    </h2>
</div>
