sudo: false
language: ruby

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

before_install:
  - gem update --system
  - gem --version

jobs:
  include:
    - stage: Test Site
      script:
        - bundle exec jekyll build
        - travis_retry bundle exec htmlproofer ./_site
    - stage: Test DNS
      script:
        - travis_retry bundle exec github-pages health-check
    - stage: Test Gems
      script:
        - bundle update github-pages
        - git diff-files --quiet

cache:
  - .bundle
  - vendor/bundle
