sudo: required
dist: trusty
language: generic

branches:
  except:
    - gh-pages

services:
  - docker

env:
  global:
    - HUGO_VERSION=0.47.1
    - HUGO_HASH=9215460d8eb55f57df0458d7d278b08f19922fd5f9dbe70e1461f338f2b0fc35

before_install:
  # Set to fail on errors
  - set -o errexit && set -o pipefail
  # Build docker container
  - docker build --tag hugo --build-arg=HUGO_VERSION --build-arg=HUGO_HASH  .travis
  - pip install --user --upgrade pip
  - pip install --user --upgrade awscli
  - export PATH="${HOME}/.local/bin:${PATH}"
  # Reset shell
  - set +o errexit && set +o pipefail

jobs:
  include:
    # Build site to test it works
    - stage: Test
      script:
        - docker run -v "${PWD}:/repo" hugo

    # Add archive of site to GitHub via releases
    - stage: Archive
      if: branch = master
      script:
        - docker run -v "${PWD}:/repo" hugo
        - sudo chown -R travis:travis site/public
      before_deploy:
        - tar -czvf public.tar.gz site/public
      deploy:
        provider: releases
        api_key: ${GITHUB_TOKEN}
        file: public.tar.gz
        skip_cleanup: true

    # Upload to S3 for public CDN
    - stage: Deploy
      if: branch = master
      script:
        - docker run -v "${PWD}:/repo" hugo
        - sudo chown -R travis:travis site/public
      deploy:
        provider: s3
        access_key_id: "${AWS_ACCESS_KEY}"
        secret_access_key: "${AWS_SECRET_KEY}"
        bucket: "com.thebiggerguy.www"
        region: eu-west-1
        acl: private
        local_dir: site/public
        skip_cleanup: true
      after_deploy:
        - awd cloudfront create-invalidation --distribution-id "${AWS_CLOUDFRONT_DISTRIBUTION_ID}"

cache:
  directories:
    - ${HOME}/.local
