sudo: required
dist: trusty
language: generic

branches:
  except:
    - gh-pages

services:
  - docker

env:
  global:
    - HUGO_VERSION=0.47.1
    - HUGO_HASH=9215460d8eb55f57df0458d7d278b08f19922fd5f9dbe70e1461f338f2b0fc35

before_install:
  # Set to fail on errors
  - set -o errexit && set -o pipefail
  # Build docker container
  - docker build --tag hugo --build-arg=HUGO_VERSION --build-arg=HUGO_HASH  .travis
  # Reset shell
  - set +o errexit && set +o pipefail

jobs:
  include:
    - stage: Test
      script:
        - docker run -v "${PWD}:/repo" hugo
    - stage: Deploy
      if: branch = master
      script:
        - docker run -v "${PWD}:/repo" hugo
        - sudo chown -R travis:travis site/public
        - touch site/public/.nojekyll
      before_deploy:
        - tar -czvf public.tar.gz site/public
      deploy:
        # Hosted GitHub Pages site
        - provider: pages
          github-token: ${GITHUB_TOKEN}
          skip-cleanup: true
          keep-history: true
          local-dir: site/public
          target-branch: gh-pages
          fqdn: www.thebiggerguy.com

        # Record of the public site
        - provider: releases
          api_key: ${GITHUB_TOKEN}
          file: public.tar.gz
