@import "../../../bootstrap/scss/functions";
@import "bootstrap-variables"; //@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/mixins";

.hero .row {
  padding-left: 0px;
  padding-right: 0px;
}

.hero h1 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
  overflow-wrap: break-word;
}

@include media-breakpoint-up(sm) {
  .hero h1 {
    font-size: $display3-size;
    font-weight: $display3-weight;
  }
}

@include media-breakpoint-up(md) {
  .hero h1 {
    font-size: $display2-size;
    font-weight: $display2-weight;
  }
}

.hero h2 {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
#main {
  padding-top: 3.5rem;
}

footer {
  color: $text-muted !important;
  a {
    color: $text-muted !important;
  }
}

.section-about {
  $media-width: 150px;
  $media-height: 150px;

  #head-shot-container img {
      transition: opacity 1s ease;
  }

  #head-shot {
      opacity: 1;
      z-index: 0;
  }

  #head-shot-hover {
      opacity: 0;
      z-index: 1;
      position: relative;
      top: -$media-height;
  }

  #head-shot-container:hover {
    #head-shot {
      opacity: 0;
    }

    #head-shot-hover {
      opacity: 1;
    }
  }

  .media-token-img {
    /* flex: none; */
    width: $media-width;
    height: $media-height;

    img {
      width: $media-width;
      height: $media-height;
    }

    span {
      font-size: ($media-width / 1.25);
    }
  }

  .media-body {
    margin-left: 10px;
  }
}