@import "../../../bootstrap/scss/functions";
@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/mixins";

.hero .row {
  padding-left: 0px;
  padding-right: 0px;
}

.hero h1 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
  overflow-wrap: break-word;
}

@include media-breakpoint-up(sm) {
  .hero h1 {
    font-size: $display3-size;
    font-weight: $display3-weight;
  }
}

@include media-breakpoint-up(md) {
  .hero h1 {
    font-size: $display2-size;
    font-weight: $display2-weight;
  }
}

.hero h2 {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

/* Set default fonts */
/** {
    font-family: 'Roboto', sans-serif;
}*/

/* Move down content because we have a fixed navbar that is 3.5rem tall */
#main {
  padding-top: 3.5rem;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;
*/


$modal-xl: 1200px !default;

@include media-breakpoint-up(sm) {
  .modal-xl { max-width: $modal-xl; }
}


.section-about {
  $media-width: 150px;
  $media-height: 150px;

  #head-shot-container img {
      transition: opacity 1s ease;
  }

  #head-shot {
      opacity: 1;
      z-index: 0;
  }

  #head-shot-hover {
      opacity: 0;
      z-index: 1;
      position: relative;
      top: -$media-height;
  }

  #head-shot-container:hover {
    #head-shot {
      opacity: 0;
    }

    #head-shot-hover {
      opacity: 1;
    }
  }

  .media-token-img {
    /* flex: none; */
    width: $media-width;
    height: $media-height;

    img {
      width: $media-width;
      height: $media-height;
    }

    span {
      font-size: ($media-width / 1.25);
    }
  }

  .media-body {
    margin-left: 10px;
  }
}