{{ define "main" }}
<div class="container">
    {{ .Content }}
</div>

<!-- Ranges through content/post/*.md -->

<div class="container">
    {{ range .Pages.GroupByDate "2006" }}
    <div class="row">
        <h3 class="mb-0">{{ .Key }}</h3>
        <hr class="w-100 mt-0">
        <div class="card-columns">
        {{ range $page := .Pages.ByDate.Reverse }}
            {{ $photo := index $page.Params.Photos 0 }}
            {{ $photo_resource := $page.Resources.GetMatch $photo.file }}
            {{ if ne $photo_resource.ResourceType "image" }}{{ errorf "Image ResourceType not jpg: %s %s" .Path $photo_resource.ResourceType }}{{ end }}
            {{ $photo_resized := $photo_resource.Fit "425x500" }}
            <div class="card bg-secondary border-dark">
                <a href="{{ $page.Permalink }}" class="text-white">
                    <img class="card-img-top" src="{{ $photo_resized.Permalink }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ $page.Title }}</h5>
                        <p class="card-text">{{ $page.Description }}</p>
                    </div>
                </a>
            </div>
        {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
