{{ define "header" }}
<header>
    {{ if .Title}}{{ if not .Params.hideTitle }}<h1>{{ .Title }}</h1>{{ end }}{{ end }}
    {{ if .Description }}{{ if .Params.showDescription }}<h2>{{ .Description }}</h2>{{ end }}{{ end }}
</header>
{{ end }}

{{ define "main" }}
{{ "<!-- Start photography main -->" | safeHTML }}

<div class="mx-auto">

    {{ $photo_id := -1 }}
    {{ range $photo := .Params.Photos }}
        {{ $photo_id = add $photo_id 1 }}

        {{ with $photo_resource := $.Resources.GetMatch $photo.File }}
            {{ if ne $photo_resource.ResourceType "image" }}{{ errorf "Image ResourceType not jpg: %s" $photo_resource.ResourceType }}{{ end }}
            {{ $photo_resized_425 := $photo_resource.Fit "425x500" }}
            {{ $photo_resized_1024 := $photo_resource.Fit "1024x500" }}
            {{ $photo_resized_1200 := $photo_resource.Fit "1200x768" }}
            <a href="#" data-toggle="modal" data-target="#picture-modal-dialog-{{ $photo_id }}">
                <picture>
                    <source srcset="{{ $photo_resized_1024.Permalink }}" media="(min-width: 640px)">
                    <img src="{{ $photo_resized_425.Permalink }}" alt="{{ $.Page.Description }}" class="img-fluid">
                </picture>
            </a>
            <p class="text-muted">Captured on {{ dateFormat "2006-01-02" $photo.Date }} and finished on {{ dateFormat "2006-01-02" $.Page.Date }}</p>

            <div id="picture-modal-dialog-{{ $photo_id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ $.Title }}</h5>
                        </div>
                        <div class="modal-body text-center">
                            <picture>
                                <source srcset="{{ $photo_resized_1200.Permalink }}" media="(min-width: 1024px)">
                                <source srcset="{{ $photo_resized_1024.Permalink }}" media="(min-width: 640px)">
                                <img src="{{ $photo_resized_425.Permalink }}" alt="{{ $.Page.Description }}" class="img-fluid">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}

    {{ end }}
    <p class="lead">{{ .Description }}</p>

    {{ .Content }}

    {{ $google_maps_markers_lat_long := (slice ) }}
    {{ range $photo := .Params.Photos }}
        {{ $google_maps_markers_lat_long = union $google_maps_markers_lat_long (slice $photo.location) }}
    {{ end }}
    {{ $google_maps_markers_lat_long = sort (uniq $google_maps_markers_lat_long) }}

    {{ if and $.Site.Params.googleMapsApiKey (gt (len $google_maps_markers_lat_long) 0) }}
        {{ $first_location := index $google_maps_markers_lat_long 0 }}
        {{ $last_location := index (last 1 $google_maps_markers_lat_long) 0 }}
        {{ $other_locations := (slice) }}
        {{ if gt (len $google_maps_markers_lat_long) 2 }}
            {{ $other_locations = after 1 (sort (after 1 (sort $google_maps_markers_lat_long "" "desc"))) }}
        {{ end }}

        {{ $google_maps_link_url := printf "https://www.google.com/maps/search/?api=1&query=%s" $first_location }}
        {{ if ne $first_location $last_location }}
            {{ $google_maps_link_url = printf "https://www.google.com/maps/dir/?api=1&origin=%s&waypoints=%s&destination=%s&travelmode=walking" $first_location (delimit $other_locations "|") $last_location }}
        {{ end }}
        <a href="{{ safeURL $google_maps_link_url }}" target="_blank" rel="noopener">
            {{ with safeURL (printf "zoom=4&center=%s&markers=color:gray|%s&key=%s" $first_location (delimit $google_maps_markers_lat_long "|") $.Site.Params.googleMapsApiKey) }}
                <picture>
                    <source srcset="https://maps.googleapis.com/maps/api/staticmap?size=640x200&{{ . }}" media="(min-width: 640px)">
                    <source srcset="https://maps.googleapis.com/maps/api/staticmap?size=425x200&{{ . }}" media="(min-width: 425px)">
                    <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?size=320x200&{{ . }}" class="img-fluid">
                </picture>
            {{ end }}
        </a>
    {{ end }}

</div>
{{ "<!-- End photography main -->" | safeHTML }}
{{ end }}
